<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="main.css"/>
<meta charset="UTF-8">
<title>Insert title here</title>

<!------ Include the above in your HEAD tag ---------->
</head>
<div th:replace="fragments/main :: links "></div>

<body> 

<div th:replace="fragments/main :: myheader "></div>
<!--<div th:if="${message}"  th:text="${message}" class="alert alert-success" role="alert" ></div>  -->
<div th:style="|display:flex;justify-content: flex-start;border:5px solid red;box-sizing:border-box;flex-wrap: wrap;|"  >
<div  th:each="postlist:${postslists}">

		<div class="card m-3" style="width: 18rem;">
		
		  <img th:src="${postlist.getPhotoPath}"style="height: 9rem;" class="card-img-top" alt="..."/>
		  <div class="card-body">
		    <h5 class="card-title" th:text="${postlist.getName}">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    
		    <div th:style="|display:flex;justify-content: space-between;flex-wrap: wrap;|">
		    <div>
		    <a th:href="@{'/read/'+${postlist.id}}"+ class="btn btn-primary">Read more</a>
		    </div>
		     <div th:style="|display:flex;justify-content:flex-start;flex-wrap: wrap;|">
		     <form th:action="@{'/update/'+${postlist.id}}" method="post">
	              <button type="submit" name="action" value="update" class="btn btn-success"><i class="fas fa-edit"></i></button>
	             </form>
	             <form th:action="@{'/delete/'+${postlist.id}}" method="post">
	              <button type="submit" name="action" value="delete" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
            </form>
            </div>
            </div>
         
		  </div>
		</div>
</div>
</div>
</body>
</html>