<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="main.css"/>
<meta charset="UTF-8">
<title>Insert title here</title>

<!------ Include the above in your HEAD tag ---------->
</head>
<div th:replace="fragments/main :: links "></div>
<body>

		     
<div th:replace="fragments/main :: myheader "></div>
<div class="container ">

	<div class="row ">
	<div class="col">
		<br>
		<div class="card">
		<article class="card-body">
		
		<div th:if="${message}" class="alert alert-success" th:text="${message}" role="alert">
			  
			</div>
		<div th:if="${error}" class="alert alert-danger" th:text="${error}" role="alert">
			  
			</div>
		<h4 class="card-title mb-4 mt-1"> Forgot Password Form</h4>
		
			 <form th:action="@{/forgot_password_form/change}" method="post" >
			   <div class="form-group">
		    	<label>Your Type your new password</label>
		        <input  class="form-control"  name="email"  type="text" th:value="${email}" readonly="readonly">
		    </div> <!-- form-group// -->
			 
		    <div class="form-group">
		    	<label>Your Type your new password</label>
		        <input  class="form-control" placeholder="Type your password" name="password" type="text">
		    </div> <!-- form-group// -->
		      <div class="form-group">
		    	<label>Please retype your password</label>
		        <input  class="form-control" placeholder="Re-type your  password" name="password2" type="text">
		    </div> <!-- form-group// -->
		     
		    <div class="form-group">
		        <button type="submit" class="btn btn-primary btn-block"> Register</button>
		    </div> <!-- form-group// -->                                                           
		</form>
		</article>
	</div> 
</div> 
</div>
</div> 

</body>
</html>