<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="main.css"/>
<meta charset="UTF-8">
<title>Insert title here</title>

<!------ Include the above in your HEAD tag ---------->
</head>
<div th:replace="fragments/main :: links "></div>

<body> 

<div th:replace="fragments/main :: myheader "></div>
	<div class="row justify-content-center">
	<div class="col-4">


		
		<div class="alert alert-success mt-5" role="alert">
			  Dear User,
			  <br>
			  YOu have verified  successfully!
			  <br>
			  	You can sign in!
			   <br>
			  
			</div>
      
			</div>
         
		  </div>

</body>
</html>